.help {
  background-color: $blue-main;
  padding-bottom: 50px;
  position: relative;
  &_img {
    position: relative;
    margin-top: -10px;
  }
  &_wrap {
    display: flex;
    align-items: center;
  }
  &_text {
    font-size: 20px;
    padding: 15px 0;
  }
  &_img {
    img {
      height: 470px;
    }
    margin-top: -50px;
    z-index: 2;
  }
  &_after {
    position: absolute;
    bottom: 4%;
    left: -13%;
  }
  .border-bottom {
    border-bottom: 1px solid $second;
  }
  &_wrapper {
    width: 60%;
    margin-top: -60px;
    z-index: 2;
  }
  &_garant {
    font-size: 20px;
    color: #fff;
    background-color: $second;
    padding: 5px 20px;
    margin-top: 150px;
  }
  &_blog {
    display: flex;
    justify-content: space-between;
  }
  &_title {
    width: 70%;
  }
}
